<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ABCD"
        tools:targetApi="31">
        <activity
            android:name=".GroupConversationActivity"
            android:exported="false" />
        <activity
            android:name=".AddGroupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".StudyGroupsAndForumsActivity"
            android:exported="false" />
        <activity
            android:name=".AddCourseworkActivity"
            android:exported="false" />
        <activity
            android:name=".AddTestActivity"
            android:exported="false" />
        <activity
            android:name=".AcademicMonitoringActivity"
            android:exported="false" />
        <activity
            android:name=".AddEventActivity"
            android:exported="false" />
        <activity
            android:name=".MyCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".DriverEvaluationActivity"
            android:exported="false" />
        <activity
            android:name=".BusBookingActivity"
            android:exported="false" />
        <activity
            android:name=".BusMeActivity"
            android:exported="false" />
        <activity
            android:name=".MeetingRoomBookingActivity"
            android:exported="false" />
        <activity
            android:name=".CrowdAroundActivity"
            android:exported="false" />
        <activity
            android:name=".ParkingBookingActivity"
            android:exported="false" />
        <activity
            android:name=".ParkMeActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>